*{
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --bg-gray: #d5d7da;
    --black: #000000;
    --blue: #00f;
}

head{
    
    display: flex;
    align-items: center;
}

body{
    margin-left: auto;
    margin-right: auto;
    display: block;
    justify-content: center;
    align-items: center;
    max-width: 920px;
    background-color: var(--bg-gray);  
}

.integrantes {
    margin-top: 20px;
    margin: 20px, 0, 0;
    text-align: center;
}
.integrantes p{
    margin-top: -20px;
    margin-bottom: 50px;
}
#catalogo{
    margin-top: 20px;
    width: 60%;
    text-align: center;
}

.logo{
    width: 10%;
}

#contrato{
    
    display: block;
    align-items: center;
    max-width: 600px;
    border: 1px solid var(--black);
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

#contrato h1, h2{
    text-align: center;
}

#contrato h4{
    margin-left: 10px;
}

.azul{
    color: var(--blue);
}
.tabela-nome{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
} 

.tabela-nome table{
    margin-top: 30px;
    border-collapse: collapse;
}

.tabela-nome td{
    padding-left: 10px;
    border: 1px solid var(--black);
}

* h4{
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 50px;
}

.tabela{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tabela table{
    border-collapse: collapse;
}

.tabela td{
    border: 1px solid var(--black);
    padding: 10px;
}

#assinatura{
    font-size: 12px;
    padding-left: 30px;
}

.texto-normal{
    font-size: 15px;
    text-align: left;
}

.titulo-normal{
    text-align: left;
    margin-top: 50px;
    margin-bottom: 10px;
}

.sub-titulo{
    text-align: left;
    padding-left: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
}
