*{
    box-sizing: border-box;
    font-family: sans-serif;
}

head{
    display: flex;
    align-items: center;
}

.integrantes {
    margin-top: 20px;
    margin: 20px, 0, 0;
    text-align: center;
}
.integrantes p{
    margin-top: 0;
}
#catalogo{
    margin-top: 20px;
    width: 60%;
    text-align: center;
}

.logo{
    width: 12%;
    padding-left: 10px;
}

.integrantes{
    
}